@using TravelAgencyIvanSusaninMVC.Controllers
@model IEnumerable<TravelAgencyIvanSusaninDAL.ViewModel.TravelViewModel>

@{
    ViewBag.Title = "Список путешествий";
}

<h2>Список путешествий</h2>

<p>
   
    @Html.ActionLink("Create New", "Create", "Travels")
</p>
<table class="table">
    <tr>

        <th>
            @Html.DisplayNameFor(model => model.TotalCost)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TravelStatus)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DateCreate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DateImplement)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>

            <td>
                @Html.DisplayFor(modelItem => item.TotalCost)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TravelStatus)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateCreate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateImplement)
            </td>
            <td>
                @Html.ActionLink("Отдать на выполнение", "SetStatus", new { id = item.Id, status = "Processing" }) |
                @Html.ActionLink("Путешествие оплачено", "SetStatus", new { id = item.Id, status = "Paid" }) |
                @Html.ActionLink("Зарезервировать", "SetStatus", new { id = item.Id, status = "Reservation" })
            </td>
        </tr>
    }

</table>
