@using TravelAgencyIvanSusaninMVC.Controllers
@model IEnumerable<TravelAgencyIvanSusaninDAL.ViewModel.TravelViewModel>

@{
    ViewBag.Title = "Список путешествий";
}

<h2>Список путешествий</h2>

<p>
    @Html.ActionLink("Создать путешествие", "Create", "Travels")
    @Html.ActionLink("Получить отчет", "Index", "Report")
</p>
<table class="table">
    <tr>
        <th>
            Номер путешествия
        </th>
        <th>
           Стоимость путешествия
        </th>
        <th>
            Статус путешествия
        </th>
        <th>
            Дата создания путешествия
        </th>
        <th>
            Дата выполнения путешествия
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Id)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TotalCost)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TravelStatus)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DateCreate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DateImplement)
        </td>
        <td>
            @Html.ActionLink("Детали путешествия", "Details", new { id = item.Id }) |
            @Html.ActionLink("Зарезервировать", "ReservePost", new { id = item.Id }) |
            @if (item.TravelStatus == "Готов")
            {
                @Html.ActionLink("Оплатить", "Pay", new { id = item.Id })
            }
        </td>
    </tr>
    }

</table>
