@model TravelAgencyIvanSusaninDAL.ViewModel.TourViewModel

@{
    ViewBag.Title = "Просмотр тура";
}

<h2>Просмотр тура</h2>

<div>
    <h4>Tour</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Cost)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Cost)
        </dd>

    </dl>
    <table class="table">
        <tr>
            <th>
                Бронь
            </th>
            <th>
                Описание
            </th>
            <th>
                Количество
            </th>
            <th></th>
        </tr>
        @foreach (var item in Model.TourReservations)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ReservationName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ReservationDescription)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NumberReservations)
            </td>
        </tr>
        }
    </table>
</div>
<p>
    @Html.ActionLink("Вернуться к списку туров", "Index")
</p>
